@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:500|Muli:300,400,600,700,800,900|Montserrat:500,800,900');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: Muli, serif;
	color: #333;
	font-size: 18px;
	line-height: 1.5;
}
nav {
	background-color: #666;
}
nav a {
	text-decoration: none;
	font-weight: bold;
	color: white;
	display: block;
	width: 200px;
	float: left;
	padding: 20px;
}
a:hover {
	background-color: #17959c;
	outline: white;
}
img { 
	width: 200px;
	padding: 4% 0 0 0;
}
p + p {
	margin-top:1em;
}
section {
	padding:4em 0;
	width: 960px;
	margin: 40px;
}
h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	font-size: 36px;
	color: #17959c;
	text-transform: uppercase;
	line-height: 1;
}
h2 {
	font-size: 26px;
	color: #999999;
	font-weight: lighter;
	text-transform: uppercase;
}
ul {
	padding-left:1.25em;
}
#logo {
	padding: 20px;
	width: 400px;
}
.name {
	font-family: Montserrat, sans-serif;
	font-size: 56px;
	font-weight: 800;
	color: #fff;
	text-transform: none;
	padding: 10px;
	background-color: #fedf31
}
.tagline {
	font-family: Muli, sans-serif;
	font-size: 44px;
	font-weight: 300;
	color: #fff;
	text-transform: none;
	padding: 10px;
	background-color: #fedf31
}
#intro {
	background: url(../images/journal.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 95vh;
	color: #fff;
	text-align: center;
}
#about {
	margin: 80px;
	width: 80%;
}
#my-work, #my-clients, #work-with-me {
	margin: 80px;
}
.column {
	width: 32%;
	padding: 1% 2% 0 0;
	float: left;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
