@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif:500|Muli:300|Zilla+Slab:600');
* {margin:0;padding:0;box-sizing:border-box;}
body {
	font-family: Muli, serif;
	color: #333;
	font-size: 16px;
	line-height: 1.5;
}
img { width:200px;}
p + p {
	margin-top:1em;
}
section {
	padding:5em 0;
}
#intro {
	background: url(../images/lightbulb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 85vh;
	color: #fff;
	text-align: center;
}
.tagline {
	font-size: 24px;
	font-weight: bold;
	color: #fedf31;
}
.logo {
	font-family: "Zilla Slab", serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 54px;
}
h2 {
	font-family: "Zilla Slab", sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 36px;
	color: #17959c;
	line-height: 1;
}
h3 {
	font-size: 28px;
	color: #999999;
	font-weight: lighter;
	text-align: center;
}
ul {
	padding-left:1.25em;
}
footer {
	background-color: #fedf31;
	padding: 24px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

