* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: Proxima Nova, Helvetica, sans-serif;
	color: #333;
	font-size: 16px;
}
#intro {
	background: url(../images/lightbulb.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 85vh;
	color: #fff;
	text-align: center;
}
.tagline {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #fedf31;
}
.logo {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 54px;
}
h1 {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 36px;
	color: #17959c;
}
h2 {
	font-family: Raleway, Helvetica, Arial, sans-serif;
	font-size: 28px;
	color: #999999;
	font-weight: lighter;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	color: #17959c;
}
ul {
	padding-left:1.25em;
}
footer {
	background-color: #fedf31;
	padding: 24px;
	text-align: center;
	color: #fff;
	font-weight: bolder;
	text-transform: uppercase;
}

