* { margin:0; padding:0; box-sizing:border-box; }
body {
	line-height: 1.4;
	font-family: Proxima Nova, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #444444;
}
section {
	padding: 4em 0;
}
header {
	background-color: #fedf31;
	color: #ffffff;
	text-align: center;
}
nav a {
	display:inline-block;
	padding:1em;
	font-size: 24px;
	font-weight: bold;
	color: #17959c;
}
ul {
	padding-left:1.25em;
}
.logo {
	/* font-size: 66px; */
	font-style: bold;
	text-transform: uppercase;
	line-height: 1;
}
h2 {
	font-size: 28px;
	color: #999999;
	text-align: center;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	color: #17959c;
}
a {
	color: inherit;
}
footer {
	background-color: #fedf31;
	text-align: center;
	color: #ef5941;
	font-weight: bolder;
	text-transform: uppercase;
}
#intro {
	background: url(../images/whiteboard-hero-img.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 85vh;
	color: #fff;
}
